<h2>Task List</h2>
<ul>
    {% for task in object_list %}
        <li>
            <a href="{% url 'task_edit' pk=task.pk %}">
                {{ task.title }} -
                {% if task.completed %}
                    Completed
                {% else %}
                    Uncompleted
                {% endif %}
            </a>
            <div class="task-controls">
                <a href="{% url 'task_edit' pk=task.pk %}">Edit</a>
                <a href="{% url 'task_delete' pk=task.pk %}">Delete</a>
            </div>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'task_create' %}">Add Task</a>
